body,
html,
#app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  background-repeat: no-repeat;
  width: 275px;
  min-width: 275px;
  max-width: 325px;
  height: 350px;
  min-height: 350px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Roboto', 'Roboto Italic', 'Roboto Slab', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  text-align: left;
}

#app > div {
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --editor-font: 'Roboto', sans-serif;
}

.monaco-editor {
  font-family: var(--editor-font);
}
